<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.s3_file_field :avatar, :multiple => true, :class => 'js-s3_file_field', :style => "width: 100%" %>
    <div class="progress"><div class="meter" style="width: 0%; color: green"></div></div>
  </div>
  <div class="actions">
    <%= f.submit %>
    <span>(upload big file to show progress in the title bar)</span>
  </div>
<% end %>
